<%- include ../header %>
<%- include ../nav %>
        <link rel="stylesheet" href="/stylesheets/post.css">
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/post.js"></script>
        <script type="text/javascript" src="/javascripts/commonFunc.js"></script>

    <div class="wrap clearfix">
        <div class="leftsection">
            <div class="leftsectionWrap">
                <div class="newArticle">
                    <div class="write">
                        <a class="write_article" href="/writePost">写文章</a>       
                    </div> 
                    <div class="articleBody">
                        <a class="sharer_head" href="user/id/articles" target="_blank">
                            <img src="" alt="" height="40" width="40" >
                        </a>
                        <a class="sharer_name" href="user/id/articles" target="_blank">chanda_yang</a>
                        <em class="share_page">
                            <a href="user/id/credit">我的积分：</a>
                        </em>
                    </div>
                </div>
            </div>
            <div class="recommand">
                <div class="recommand_nav">
                    <ul class="recommand_cat">
                        <li class="active"><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                        <li><a href="#">javacript</a></li>
                                    
                    </ul>
                </div> 
            </div>
            <div class="recommand_article_wrap">
            <% posts.forEach(function (post, index) { %>
                <div class="recommand_article" id="article/id">
                    <a class="title" href="/detail/<%= post.author %>/<%= post.title %>"><%= post.title %></a>
                    <p><%- post.art %>
                    
                    </p>
                    <div class="article_message">
                        <div class="author_img"><img src="" alt="" style="width:20px;height:20px;"></div>
                        <a class="author_name" href="#" target="_blank"><%= post.author %></a>
                        <a class="article_cat" href="#"><%= post.cates %></a>
                        <span class="article_time"><%= post.time %></span>
                        <span class="browser">浏览 <%= post.pv %></span>
                        <span class="like">点赞 <%= post.agree %></span>
                        <span class="comment">评论</span>
                    </div>
                </div>
                <% }) %>
                                                    
            </div>
    	</div>
       
        <div id="sidetab">
            <!-- tabHead -->
            <ul class="tab-nav">
                <li><a href="javascript:void(0)">热门</a></li>
                <li><a href="javascript:void(0)">原创</a></li>
            </ul>
         
            <!-- tabPanel-->
            <ul class="tab-bd">
                <li class="tabshow">
                    aiasfhhsfahfhahfah 
                </li>
                <li class="tabhide">
                    safifahkkfakhfakh
                </li>
            </ul>
        </div>
    </div>   
    
 <%- include ../footer %>
