<%- include ../header %><!-- 
	<link rel="stylesheet" type="text/css" href="/stylesheets/reading.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/paging.css">
<%- include ../nav %>
	<section>
		<div class="container">
			<div class="main_left" id='maincard'>
				
			<ul class="tab-nav">
            <li><a href="javascript:void(0)">最新</a></li>
            <li><a href="javascript:void(0)">最热</a></li>
            </ul>
     
            <!-- tabPanel-->
            <ul class="tab-bd">
            <li class="tabshow">
            <% new_posts.forEach(function (post, index) { %>
        <div class="hot-article">
            <div class="author"><img src="/images/1.jpg" alt="author"/><div class="author-name">111</div></div>
                        <a class="title" href="/detail/<%= post.author %>/<%= post.title %>"><%= post.title %></a>
                        <span class="time"><%= post.time %></span>

            
            <div class="post-cont"><%- post.art %></div>
            
            <div class="article-message">
                
                <% if (typeof post.tags == "string") { %>
                    <a class="article-tag" href="#"><%= post.tags %></a>
                <% }else{ %>

                <% for (var i = 0; i < post.tags.length; i++ ){ %>
                <a class="article-tag" href="#"><%= post.tags[i] %></a>
                <% } %>
                <% } %>
                <div class="post-info">
                <span class="browser">浏览 <%= post.pv %></span>
                <span class="like">点赞 <%= post.agree.length %></span>
                <span class="comment">评论</span>
                </div>
            </div>
        </div>
        <% }) %>
       
        </li>
            <li class="tabhide">
              <% hot_posts.forEach(function (post, index) { %>
        <div class="hot-article">
            <div class="author"><img src="/images/1.jpg" alt="author"/><div class="author-name">111</div></div>
                        <a class="title" href="/detail/<%= post.author %>/<%= post.title %>"><%= post.title %></a>
                        <span class="time"><%= post.time %></span>

            
            <div class="post-cont"><%- post.art %></div>
            
            
            <div class="article-message">
                
                <% if (typeof post.tags == "string") { %>
                    <a class="article-tag" href="#"><%= post.tags %></a>
                <% }else{ %>

                <% for (var i = 0; i < post.tags.length; i++ ){ %>
                <a class="article-tag" href="#"><%= post.tags[i] %></a>
                <% } %>
                <% } %>
                <div class="post-info">
                <span class="browser">浏览 <%= post.pv %></span>
                <span class="like">点赞 <%= post.agree.length %></span>
                <span class="comment">评论</span>
                </div>
            </div>
        </div>
        <% }) %>
       
       
            </li>
            </ul>
		</div>		

		<aside  class="main_right">
        <div class="writeNote"><a href="/writePost" id="write">写文章</a></div>
        <div id="user-about">
            <div id="user-skin">
                <div id="headpic">
                    <img id="headpic-img" src="<%= user.middleimg %>">
                </div>
            </div>
            <div id="user-wendainfo">
                <div id="namebox"><%= user.nick || user.email %></div> 
                <ul id="user-action" class="clearfix">
                    <li><strong class="user-action" id="user-question"><%= count %></strong><a href="">文章</a></li>
                    <li><strong class="user-action" id="user-question"><%= user.postcoll? user.postcoll.length:0 %></strong><a href="">收藏</a></li>
                    <li><strong class="user-action" id="user-question"><%= user.attention? user.attention.length:0  %></strong><a href="">关注</a></li>
                </ul>
            </div>
        </div>
        <div id="sidetab">
        <!-- tabHead -->
        <ul class="tab-nav">
          <li><a href="javascript:void(0)">推荐</a></li>
          <li><a href="javascript:void(0)">原创</a></li>
        </ul>
     
        <!-- tabPanel-->
        <ul class="tab-bd">
          <li class="tabshow">
            aiasfhhsfahfhahfah 
          </li>
          <li class="tabhide">
            safifahkkfakhfakh
          </li>
        </ul>
      </div>
    
    </aside> 
         
    </div>   	
    </section>

<%- include ../footer %>
<script type="text/javascript" src="/javascripts/post.js"></script>
<script type="text/javascript" src="/javascripts/commonFunc.js"></script>
<%- include ../end %>