<%- include ../header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/showPost.css">
<%- include ../nav %>
<section class="wrap clearfix">

<%- include subPost %>
<aside>
<div id="user-about">
  <div id="user-skin">
      <div id="headpic">
          <img id="headpic-img" src="images/7.jpg">
      </div>
  </div>
  <div id="user-wendainfo">
      <div id="namebox"><%= post.author %></div>
      <span class='attention' id='attention'>关注</span>
  </div>
</div>

<% if (user.name && user.name==post.author) {%>
<div class="relate-post">
	<header class="relate-post-header">文章分类</header>
	<% if(cates) { %>
	<% for( var i = 0 ;i <cates.length; i++) { %>
	<div class="relate-post-title"><a href="/cates?cates=<%= cates[i] %>"><%= cates[i] %></a></div>
	<% } %>
	
	<% } %>
	<div class="relate-post-detail">
		
	</div>
</div>
<div class="relate-post">
	<header class="relate-post-header">文章标签</header>
	<div class="relate-post-detail">
		
	</div>
</div>

<% } else{ %>
<div class="relate-post">
	<header class="relate-post-header">相关文章</header>
	<div class="relate-post-detail">
		<% for(var i = 0; i< relate.length; i++) { %>
			<div class="relate-post-title"><a href="/detail/<%= relate[i].author %>/<%= relate[i].title %>"><%= relate[i].title %></a></div>
		<% } %>
	</div>
</div>

<% } %>
</aside>
</section>

<%- include ../footer %>
<script type="text/javascript" src="/javascripts/showPost.js"></script>
<%- include ../end %>