<%- include ../header %>
<link rel="stylesheet" type="text/css" href="/dist/css/showPost.min.css">
<link rel="stylesheet" type="text/css" href="/popout/style.css">
<%- include ../nav %>
<div class="pop-cont p2" id="pop-cont">
  <div class="pop">
    <section class="pop-title"><h3>提示</h3></section>
    <section class="pop-content">是否删除该文章</section>
    <section class="pop-footer">
      <a class="confirm" href=''>确定</a>
      <a class="cancel">取消</a>
    
    </section>

  </div>
</div>

<section class="wrap clearfix">

<%- include subPost %>


<aside>
<div id="user-about">
  <div id="user-skin">
    <div id="headpic">
      <img id="headpic-img" src="<%= author_detail.middleimg %>">
    </div>
  </div>
  <div id="user-wendainfo">
    <div id="namebox"><%= author_detail.nick||author_detail.email %></div> 

    <ul id="user-action" class="clearfix">
      <li><strong class="user-action" id="user-question"><%= count %></strong><a href="">文章</a></li>
      <li><strong class="user-action" id="user-question"><%= user.postcoll? user.postcoll.length:0 %></strong><a href="">收藏</a></li>
      <li><strong class="user-action" id="user-question"><%= user.attention? user.attention.length:0  %></strong><a href="">关注</a></li>
    </ul>
    <div class='atte-cont'>
    <% if(post.author != user.email) { %>
      <span class='attention' id='attention' data="<%= isAttention %>">关注</span>
    <%} %>
    </div>
  </div>
</div>


<% if (user.email && user.email==post.author) {%>
<div class="relate-post">
	<header class="relate-post-header">文章分类</header>
	<% if(cates) { %>
	<% for( var i = 0 ;i <cates.length; i++) { %>
	<div class="relate-post-title"><a href="/cates?cates=<%= cates[i] %>"><%= cates[i] %></a></div>
	<% } %>
	
	<% } %>
	<div class="relate-post-detail">
		
	</div>
</div>


<% } else{ %>
<div class="relate-post">
	<header class="relate-post-header">相关文章</header>
	<div class="relate-post-detail">
		<% for(var i = 0; i< relate.length; i++) { %>
			<div class="relate-post-title"><a href="/detail/<%= relate[i].author %>/<%= relate[i].title %>"><%= relate[i].title %></a></div>
		<% } %>
	</div>
</div>

<% } %>
</aside>
</section>

<%- include ../footer %>
<script type="text/javascript" src='/popout/popular.js'></script>
<script type="text/javascript" src = '/dist/js/common.js'></script>
<script type="text/javascript" src="/dist/js/showPost.min.js"></script>

<%- include ../end %>