<article  class="re-li-cont" itemscope itemprop="blogPost">
  <header class="re-title">

  <h1 class="post-title"><%= post.title %></h1>
  <div class="post-detail"><span class="post-author"><%= author %></span> <span class="post-time">发布时间:<%= post.time %></span> <span class="post-view">访问量:<%= post.pv %></span>

  <% if (user.name && user.name==author) {%>
    <span>编辑</span><span>删除</span>
  <% } %>
  
  </div>
  </header>
      <div class="re-cont">
      <% if( post.img) { %>

        <img src= <%= post.img %>>

       <% } %> 
        <div class="re-cont-detail"><%- post.post %></div>
      
      </div>
      
      <footer class="re-footer clearfix">
        <div class="footer-left">
          <span>上一篇：</span><span>|下一篇：</span>
        </div>
        <div class="footer-right ">
        <div class="like">
          <i></i>
          <span>喜欢</span>
          <span>收藏</span>
        </div>
        </div>
      </footer>
  </article>
    