<article  class="re-li-cont" itemscope itemprop="blogPost">
  <header class="re-title"><h3><%= title %></h3></header>
      <div class="re-cont">
        <div class="re-cont-detail"><%= post %></div>
      </div>
      
      <footer class="re-footer clearfix">
        <div class="footer-left">
        <a class="public-name l" href="#"><%= author %></a>
        <a class="public-tab l" href="#"><%= tag %></a>
        <span class="public-time l"><%= time %></span>
        <span class="public-time l"><%= Browse %></span>
        </div>
        <div class="footer-right ">
        <div class="like r">
          <i></i>
          <em><%= agree %></em>
        </div>
        <div class="comment r">
          <i></i>
          <em>评论</em>
        </div>
        </div>
      </footer>
  </article>
    