<%- include ../header %>
<link rel="stylesheet" type="text/css" href="/dist/css/user.min.css">
<link rel="stylesheet" type="text/css" href="tab/tabcard.css">
<%- include ../nav %>
<!-- 用户界面的头部 -->
<header class="user-header clearfix">
	<div class="user-info">
		<div class="user-img"><a href="/userSet"><span class="user-set iconfont" ></span></a>
		<img src="<%= user.bigimg %>"></div>
		<div class="user-detail">
			<span class="user-name"><%= user.nick||user.email %></span>

			<p class="about-info">职业</p>
			<p class="user-desc">这位同学很懒</p>
		</div>
	</div>

	<div class="user-data">
		<div class="user-item">
			<em><%= user.attention? user.attention.length:0 %></em>

			<span>关注</span>

		</div>
		<div class="user-item">
			<em><%= user.fans? user.fans.length:0 %></em>
			<span>粉丝</span>
		</div>

		
	</div>
</header>

<!-- 用户界面的中间部分 -->

<!-- 左侧导航 -->
<div class="user-wrap clearfix" id="user-wrap">
 <nav class="slider">

	<ul class= 'tab-nav' style='border: none'>
		<li class='index-1'><a href="#"><span class="user-index">&#xe602</span>我的文章</a></li>
		<li class='index-2'><a href="#"><span class="user-index">&#xe60a</span>我的提问</a></li>
		<li class='index-3'><a href="#"><span class="user-index">&#xe61c</span>我的回答</a></li>
		<li class='index-4'><a href="#"><span class="user-index">&#xe62b</span>我的收藏</a></li>

	</ul>
</nav> 

<!-- 导航右侧具体内容 -->

<ul class = 'tab-bd'>
<li class="user-cont tab-show">
<span class="cont-header">我的文章</span>
<div class="user-post">
	
	<% for(var i=0;i<post.length;i++){ %>
	<div class='mypost-wrap'>
		<div class="mypost">
		
			<a href='detail/<%= post[i].author %>/<%= post[i].title %>' class="mypost-title"><%- post[i].title %></a>
			<div><%- post[i].art %></div>
			<div class="mypost-info">
				<span>评论 </span>
				<span>点赞<%- post[i].agree.length %></span>
				<span>浏览<%- post[i].pv %></span>
			</div>
			
		</div>
		<span class='time-tag'></span>
		<div class='time-show'>
			<b class='time-show-year'><%- post[i].time.split('-')[0] %></b>
			<span class='time-show-month'><%- post[i].time.split('-')[1] %>月<%- post[i].time.split('-')[2]%>日</span>
		</div>
	</div>

	<% } %>
	
</div>
</li>

<li class='user-ask tabhide'>
	<span class="cont-header">我的提问</span>
	<div class='user-post'>
	<% for(var i=0;i<asks.length;i++){ %>
	<div class='mypost-wrap'>
		<div class="mypost">
		
			<h2 class="mypost-title"><%- asks[i].quesTitle %></h2>
			<div><%- asks[i].quesDetail %></div>
			<div class="mypost-info">
				<span>回答<%- asks[i].comments.length %> </span>
				<span>点赞<%- asks[i].agreeNum %></span>
				<span>浏览<%- asks[i].pv %></span>
			</div>
			<div class="mypost-img"></div>
		</div>
		<span class='time-tag'></span>
		<div class='time-show'>
			<b class='time-show-year'><%- asks[i].time.day.split('-')[0] %></b>
			<span class='time-show-month'><%- asks[i].time.day.split('-')[1] %>月<%- asks[i].time.day.split('-')[2] %>日</span>
		</div>
	</div>

	<% } %>
	</div>

</li> 

<li class='user-ask tabhide'>
	<span class="cont-header">我的回答</span>
	<div class='user-post'>
	<% for(var i=0;i<userComments.length;i++){ %>
	<div class='mypost-wrap'>
		<div class="mypost">
		
			<h2 class="mypost-title"><%- userComments[i].quesTitle %></h2>
			<div><%- userComments[i].comments.content %></div>
			<div class="mypost-info">
				
				
				<span>回复<%- userComments[i].comments.reply.length %></span>
				
			
			</div>
			<div class="mypost-img"></div>
		</div>
		<span class='time-tag'></span>
		<div class='time-show'>
			<b class='time-show-year'><%- userComments[i].comments.time.day.split('-')[0] %></b>
			<span class='time-show-month'><%- userComments[i].comments.time.day.split('-')[1] %>月<%- userComments[i].comments.time.day.split('-')[2] %>日</span>
		</div>
	</div>

	<% } %>
	</div>

</li>

<li class = 'user-coll tabhide' id='user-coll'>
<span class="cont-header">我的收藏</span>

<% if(user.postcoll){ %>
<% for(var i=0; i < user.postcoll.length; i++){ %>
	<div class='coll-post'><span class='coll-post-title'><a href="detail/<%= user.postcoll[i].author %>/<%= user.postcoll[i].title %>"><%= user.postcoll[i].title %></a></span><span class='del-coll' data-author = '<%= user.postcoll[i].author %>' data-title='<%= user.postcoll[i].title %>'>取消收藏</span></div>
<% } %>
<% } %>

	
</li>

</ul>
</div>
 <%- include ../footer %>
 <script type="text/javascript" src="./dist/js/user.js"></script>
 <script type="tab/tabcard.js"></script>

 <%- include ../end %>