<%- include ../header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/user.css">
<%- include ../nav %>
<!-- 用户界面的头部 -->
<header class="user-header clearfix">
	<div class="user-info">
		<div class="user-img"><a href="/userSet"><span class="user-set iconfont" ></span></a>
		<img src="<%= user.bigimg %>"></div>
		<div class="user-detail">
			<span class="user-name">Charlene</span>

			<p class="about-info">职业</p>
			<p class="user-desc">这位同学很懒</p>
		</div>
	</div>

	<div class="user-data">
		<div class="user-item">
			<em><%= user.attention? user.attention.length:0 %></em>

			<span>关注</span>

		</div>
		<div class="user-item">
			<em><%= user.fans? user.fans.length:0 %></em>
			<span>粉丝</span>
		</div>

		<div class="user-item">
			<em>0</em>
			<span>积分</span>
		</div>
	</div>
</header>

<!-- 用户界面的中间部分 -->

<!-- 左侧导航 -->
<div class="user-wrap clearfix">
 <nav class="slider">
	<ul>

		<li><a href="#"><span class="user-index">&#xe602</span>我的文章</a></li>
		<li><a id="myallcomment"><span class="user-index">&#xe60a</span>我的回答</a></li>
		<li><a id="myallask"><span class="user-index">&#xe61c</span>我的提问</a></li>
		<li><a href="#"><span class="user-index">&#xe62b</span>我的收藏</a></li>

		<!-- <li class='index-1'><a href="#"><span class="user-index">&#xe602</span>我的文章</a></li>
		<li class='index-2'><a href="#"><span class="user-index">&#xe60a</span>我的回答</a></li>
		<li class='index-3'><a href="#"><span class="user-index">&#xe61c</span>我的提问</a></li>
		<li class='index-4'><a href="#"><span class="user-index">&#xe62b</span>我的收藏</a></li> -->

	</ul>
</nav> 

<!-- 导航右侧具体内容 -->
	<div class="user-cont" id="user-cont">	 
	  <span class='cont-header' id="cont-header">我的文章</span>	  
	  <div class="user-post" id="user-post">
	  </div>	   
	</div>


<div class='user-ask'>
	<span class="cont-header">我的提问</span>
	<div class='user-ask-show'>
	<% for(var i=0;i<asks.length;i++){ %>
	<div class='mypost-wrap'>
		<div class="mypost">
		
			<h2 class="mypost-title"><%- asks[i].title %></h2>
			<div><%- asks[i].art %></div>
			<div class="mypost-info">
				<span>评论 </span>
				<span>点赞<%- ask[i].agree.length %></span>
				<span>浏览<%- ask[i].pv %></span>
			</div>
			<div class="mypost-img"></div>
		</div>
		<span class='time-tag'></span>
		<div class='time-show'>
			<b class='time-show-year'><%- ask[i].time.split('-')[0] %></b>
			<span class='time-show-month'><%- ask[i].time.split('-')[1] %>月<%- ask[i].time.split('-')[2]%>日</span>
		</div>
	</div>

	<% } %>
	</div>

</div>

<div class='user-ask'>
	<span class="cont-header">我的收藏</span>
	<div class='user-coll-show'>
	<% for(var i=0;i<asks.length;i++){ %>
	<div class='mypost-wrap'>
		<div class="mypost">
		
			<h2 class="mypost-title"><%- asks[i].title %></h2>
			<div><%- asks[i].art %></div>
			<div class="mypost-info">
				<span>评论 </span>
				<span>点赞<%- asks[i].agree.length %></span>
				<span>浏览<%- asks[i].pv %></span>
			</div>
			<div class="mypost-img"></div>
		</div>
		<span class='time-tag'></span>
		<div class='time-show'>
			<b class='time-show-year'><%- asks[i].time.split('-')[0] %></b>
			<span class='time-show-month'><%- asks[i].time.split('-')[1] %>月<%- ask[i].time.split('-')[2]%>日</span>
		</div>
	</div>

	<% } %>
	</div>

</div>

</div>
 <%- include ../footer %>
 <script type="text/javascript" src="./javascripts/user.js"></script>
 <script type="text/javascript" src="./javascripts/jquery.js"></script>
 <script type="text/javascript">
   $("#myallask").click(function(){
   	   $.ajax({
   	   	  url:"/myAllAsk",
   	   	  method:"get",
   	   	  success: function(data){
                  console.log('这是data');
                  var questions=JSON.parse(data);
                  $("#cont-header").html("我的提问");
                  $("#user-post").html("");
                  for(var i=0,leng=questions.length;i<leng;i++){
                  	$("#user-post").append("<div class='mypost-wrap'><div class='mypost'><h2 class='mypost-title'><a href='/questionDetail?email="+questions[i].email+"&day="+questions[i].time.day+"&quesTitle="+questions[i].quesTitle+"'>"+questions[i].quesTitle+"</a></h2><p>"+questions[i].time.day+" "+questions[i].comments.length+"个回答</p></div></div>");
                  }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert('error ' + textStatus + " " + errorThrown);
                }
   	   });
   });
      $("#myallcomment").click(function(){
   	   $.ajax({
   	   	  url:"/myAllComment",
   	   	  method:"get",
   	   	  success: function(data){
                  console.log('这是data');
                  console.log(data);
                  var questions=data;
                  console.log('这是data');
                  $("#cont-header").html("我的回答");
                  $("#user-post").html("");
                  for(var i=0,leng=questions.length;i<leng;i++){
                  	$("#user-post").append("<div class='mypost-wrap'><div class='mypost'><h2 class='mypost-title'><a href='/questionDetail?email="+questions[i].email+"&day="+questions[i].time.day+"&quesTitle="+questions[i].quesTitle+"'>"+questions[i].quesTitle+"</a></h2><p>我的回答<br />"+questions[i].comments.content+"</p><p>"+questions[i].comments.time.day+" "+questions[i].comments.reply.length+"个回复</p></div></div>");
                  }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert('error ' + textStatus + " " + errorThrown);
                }
   	   });
   });
 </script>
 <%- include ../end %>