<%- include ../header %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/questionDetail.css">
<%- include ../nav %>
<div class="warp clearfix">
<div class="main">
    <h2 class="quesTitle"><%=quesTitle %></h2>
    <p class="quesDetail"><%=quesDetail %></p>
    <p class="info">
        提问者：<a href="#"><%= name %></a> | 
        日期：<%= day %>
    </p>
    <br />
    <form method="post">
    <% if (user) { %>
    <div style="display: none;">
      姓名：<input type="text" name="name" value="<%= user.name %>"/><br />
      邮箱：<input type="text" name="email" value="<%= user.email %>"/><br />
      网址：<input type="text" name="website" value="/u/<%= user.name %>"/><br />
    </div>
    <% } else { %>
      姓名：<input type="text" name="name" /><br />
      邮箱：<input type="text" name="email" /><br />
      网址：<input type="text" name="website" value="http://" /><br />
    <% } %>
      <textarea name="content" rows="5" cols="80"></textarea><br />
      <input type="submit" value="回答" id="answer" />
    </form>
    <p id="commentsLength" data-page="<%=page%>" data-num="<%=num%>" 
    data-length="<%=((page*num)<=commentsLength)?(page*num):commentsLength%>"><span><%=commentsLength%></span>条回答</p>
    <div class="comments" id="comments">
    <% var leng=((page*num)<=commentsLength)?(page*num):commentsLength; for(var i=(page-1)*num;i< leng;i++){ %>
      <div class="comment">
          <div class="comment_main">
             <div class="commHead">
               <img src="<%= comments[i].head %>" width="40px" height="40px" class="l_head" />
               <span><a href="<%= comments[i].website %>"><%= comments[i].name %></a></span>
             </div>  
             <div class="commCont">
               <p><%= comments[i].content %></p>
               <span class="info"> <%= comments[i].time %></span>
             </div>
             <div class="commAction">
               <span>赞同 <span><%=comments[i].agreeNum%></span></span>
               <span>反对</span>
               <span id="reply_<%=i%>"   
                  data-questitle="<%=quesTitle %>" 
                  data-name="<%= name %>"
                  data-day="<%= day %>"
                  data-commentid="<%=i%>"><%=comments[i].reply.length%>条回复</span>
             </div>
          </div>
          <div class="comment_reply">
            <ul class="reply_list" id="reply_list"></ul>
            <div class="pub_reply">
              <div class="reply_head"></div>
              <div class="reply_main">
                <p class="reply_name"><%=user.name%></p>
                <div class="reply_content">
                  <textarea cols="70" rows="2" id="comment_reply_<%=i%>" >回复 <%= comments[i].name %>：</textarea>
                  <button id="comment_reply_btn_<%=i%>" 
                  data-questitle="<%=quesTitle %>" 
                  data-name="<%= name %>"
                  data-day="<%= day %>"
                  data-commentreplyfromname="<%=user.name%>"
                  data-commentreplytoname="<%= comments[i].name %>"
                  data-commentid="<%=i%>"
                  >回复</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% } %>
    </div>
      <br />
      <div class="answer">
        <span class="prepage"><a title="首页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= 1 %>">首页</a></span>

        <% if ((page-1)>=1) { %>
        <span class="prepage"><a title="上一页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page-1 %>">上一页</a></span>
        <% }else{}%>

        <% if ((page-3)==1) { %> 
          <span class="prepage"><a title="上两页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=1">1</a></span>
        <% }else if ((page-3)>1){%>
          <span class="prepage"><a title="上两页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=1">1</a></span>
          <span class="prepage"><a title="省略">...</a></span>
        <%}%>

        <% if ((page-2)>=1) { %> 
        <span class="prepage"><a title="上两页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page-2 %>"><%= page-2 %></a></span>
        <% }else{}%>

        <% if ((page-1)>=1) { %> 
        <span class="prepage"><a title="上一页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page-1 %>"><%= page-1 %></a></span>
        <% }else{}%>

          <span class="currentpage"><a title="当前页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page %>" style="color: #fff;"><%= page %></a></span>

        <% if ((page+1)<=LastPage) { %> 
        <span class="nextpage"><a title="下一页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page+1 %>"><%= page+1 %></a></span>
        <% }else{}%>

        <% if ((page+2)<=LastPage) { %> 
        <span class="nextpage"><a title="下两页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page+2 %>"><%= page+2 %></a></span>
        <% }else{}%>
        
        <% if ((page+3)== LastPage) { %> 
          <span class="nextpage"><a title="下三页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%=LastPage%>"><%=LastPage%></a></span>
        <% }else if((page+3)< LastPage) {%>
         <span class="nextpage"><a title="省略">...</a></span>
         <span class="nextpage"><a title="末页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%=LastPage%>"><%=LastPage%></a></span>
        <% }%>

        <% if ((page+1)<=LastPage) { %>
          <span class="nextpage"><a title="下一页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page+1 %>">下一页</a></span>
        <% }else{}%>

         <span class="nextpage"><a title="末页" href="/questionDetail?name=<%= name %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= LastPage %>">末页</a></span>
      </div>
</div>
<div class="notice">
    <h1>提问注意事项</h1>
    <dl>
      <dd>1、大家每天可以免费提出两个问题，从第三个问题起，每个问题扣除2点积分，请知晓哦；</dd>
      <dd>2、您是来解决问题？请先搜索是否已经有同类问题吧。这样您就省心少打字。</dd>
      <dd>3、没找到是么？就在发问题时精确描述你的问题，不要写与问题无关的内容哟；</dd>
      <dd>4、慕课讨论更热衷于解达您想要的答案。能引起思考和讨论的知识性问题；</dd>
      <dt>问答禁止这些提问</dt>
      <dd>1、禁止发布求职、交易、推广、广告类与问答无关信息将一律清理。</dd>
      <dd>2、尽可能详细描述您的问题，如标题与内容不符，或与问答无关的信息将被删除扣分。</dd>
      <dd>3、问答刷屏用户一律冻结帐号</dd>
    </dl>
</div>
</div>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript">
var page=document.getElementById('commentsLength').dataset.page;
var num=document.getElementById('commentsLength').dataset.num;
var length=document.getElementById('commentsLength').dataset.length;
for(var i=(page-1)*num;i<length;i++)
{

  document.getElementById('reply_'+i).onclick=function(){
    if (this.parentNode.parentNode.nextElementSibling.style.display=="block") 
    {
      this.parentNode.parentNode.nextElementSibling.style.display="none";
    }
    else
    {
      this.parentNode.parentNode.nextElementSibling.style.display="block";
    }
    var params={
      "name":that.getAttribute('data-name'),
      "day":that.getAttribute('data-day'),
      "quesTitle":that.getAttribute('data-questitle'),
      "commentId":that.getAttribute('data-commentid')
    };
    $.ajax({
      data:params,
      url:"/getReplyOfComment",
      type:'get',
      jsonpCallback: 'callback',
      success:function(data){
                console.log('这是data');
                console.log(data);
                console.log("这是data");
        },
        err:function(jqXHR, textStatus, errorThrown){
              alert('error ' + textStatus + " " + errorThrown);  
          }
    });
  }
      $('#comment_reply_btn_'+i).bind('click',function(){
        var that=this, 
            temp=that.previousElementSibling.value,
            index=temp.indexOf('：'),
            commentReplyContent=temp.substring(index+1);
      var params={
        "name":that.getAttribute('data-name'),
        "day":that.getAttribute('data-day'),
        "quesTitle":that.getAttribute('data-questitle'),
        "commentReplyFromName":that.getAttribute('data-commentreplyfromname'),
        "commentReplyToName":that.getAttribute('data-commentreplytoname'),
        "commentReplyContent":commentReplyContent,
        "commentId":that.getAttribute('data-commentid')
      };
      console.log(that.previousElementSibling.innerHTML);
      console.log(that.getAttribute('data-name'));
      console.log(that.getAttribute('data-day'));
      console.log(that.getAttribute('data-questitle'));
      console.log(that.getAttribute('data-commentreplyfromName'));
      console.log(that.getAttribute('data-commentreplytoName'));
      $.ajax({
        data:params,
        url:"/commentReply",
        type:'post',
        jsonpCallback: 'callback',
        success:function(data){
                console.log('这是data');
                console.log(data);
                var fragment=document.createDocumentFragment(),
                    ul=that.parentNode.parentNode.parentNode.previousElementSibling,
                    li=document.createElement('li');
                li.innerHTML="<a href='#'>"+data.commentReplyFromName+"</a>"+" 回复 "+"<a href='#'>"+data.commentReplyToName+"</a>"+"："+data.commentReplyContent+"<a href='#'>回复</a>"+"<span>"+data.time.minute+"</span>";
                fragment.appendChild(li);
                ul.appendChild(fragment);
                console.log("这是data");
        },
        err:function(jqXHR, textStatus, errorThrown){
              alert('error ' + textStatus + " " + errorThrown);  
          }
      });
    });
}



</script>
<%- include ../footer %>
<%- include ../end %>
