<%- include ../header %>	
	<link rel="stylesheet" type="text/css" href="/dist/css/question.min.css">
	<link rel="stylesheet" type="text/css" href="/dist/css//paging.min.css">
<%- include ../nav %>
	<div id="container">
		<div id="wenda-main">
			<ul id="wenda-nav">
				<li id="nav-new"><a href="/question">最新</a></li>
				<li id="nav-hot"><a href="/questionHot" style="color: #000;">最热</a></li>
				<li id="nav-unanswered"><a href="/questionNoAnswer">未答</a></li>
			</ul>
			<div id="wenda-list">
			<% questions.forEach(function (question,index) { %>
				<div class="wenda-container">
					    <div class="wenda-img">
					       <img class="wenda-img-icon" src="<%=authorImg[index].bigimg%>">
					     </div>
					    <div class="wenda-content">
							<h1 class="wenda-title">
								<a href="/questionDetail?email=<%= question.email %>&day=<%= question.time.day %>&quesTitle=<%= question.quesTitle %>"><%= question.quesTitle %></a>

							</h1>
							<div class="action-panel">							    
								<a href="/questionDetail?email=<%= question.email %>&day=<%= question.time.day %>&quesTitle=<%= question.quesTitle %>" class="action">浏览量 <%=question.pv%></a>
								<a href="/questionDetail?email=<%= question.email %>&day=<%= question.time.day %>&quesTitle=<%= question.quesTitle %>" class="action">回答 <%=question.comments.length%></a>
								<span>
								标签：
								<% question.tags.forEach(function(tag){%>
								<a href="/questionTags?tag=<%=tag%>" class="action"><%=tag%></a>
								<%})%>
								| <%= question.time.minute %>
								</span>
								</span>
							</div>
					    </div>				
				</div>
			<% }) %>
			</div>
			<!-- 分页 -->
			<div id="pageslider">
			     <%- include ../paging %>
			</div>
			
		</div>
		<div id="wenda-siderbar">
			<div id="ask">
				<a href="/ask">我要提问</a>
			</div>
			<div id="user-about">
				<div id="user-skin">
					<div id="headpic">
						<img id="headpic-img" src="<%=userImg[0].bigimg%>">
					</div>
				</div>
				<div id="user-wendainfo">
					<div id="namebox"><%= user.email %></div>
					<ul id="user-action">
						<li><a href=""><strong class="user-action" id="user-question"><%=userQuestionsTotal%></strong><span>提问</span></a></li>
						<li><a href=""><strong class="user-action" id="user-answer"><%=userCommentsTotal%></strong><span>回答</span></a></li>
						<li><a href=""><strong class="user-action" id="user-focus">100</strong><span>关注</span></a></li>
					</ul>
				</div>
			</div>
			<div id="windsTagBall">
				<% tags.forEach(function (tag) { %>
				<a href="/questionTags?tag=<%=tag%>"><%=tag%></a>
				<% }) %>
			</div>
		</div>
	</div>

<%- include ../footer %>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/jquery.windstagball.js"></script>
<script type="text/javascript" src="/dist/js/common.min.js"></script>
<script type="text/javascript" src="/dist/js/question.min.js"></script>
<%- include ../end %>