<%- include ../header %>
	<link rel="stylesheet" type="text/css" href="/dist/css/questionDetail.css">
<%- include ../nav %>
<div class="warp clearfix">
<div class="main">
    <h2 class="quesTitle"><%=quesTitle %></h2>
    <div class="quesDetail"><%-quesDetail %></div>
    <p class="info">
        提问者：<a href="#"><%= email %></a> | 
        日期：<%= day %>
    </p>
    <br />
    <form method="post">
    <% if (user) { %>
    <div style="display: none;">
      姓名：<input type="text" name="name" value="<%= user.email %>"/><br />
      邮箱：<input type="text" name="email" value="<%= user.email %>"/><br />
      网址：<input type="text" name="website" value="/u/<%= user.email %>"/><br />
    </div>
    <% } else { %>
      姓名：<input type="text" name="email" /><br />
      邮箱：<input type="text" name="email" /><br />
      网址：<input type="text" name="website" value="http://" /><br />
    <% } %>
      <textarea name="content" rows="5" cols="80" placeholder="写下你的评论~"></textarea><br />
      <input type="submit" value="回答" id="answer" />
    </form>
    <p id="commentsLength" data-page="<%=page%>" data-num="<%=num%>" 
    data-length="<%=((page*num)<=commentsLength)?(page*num):commentsLength%>"><span><%=commentsLength%></span>条回答</p>
    <div class="comments" id="comments">
    <% var leng=((page*num)<=commentsLength)?(page*num):commentsLength; for(var i=(page-1)*num;i< leng;i++){ %>
      <div class="comment">
          <div class="comment_main">
             <div class="commHead">
               <a href="" ><img src="<%= comments[i].head %>" class="l_head" /></a>
             </div>
             <div class="commName">
               <a href="<%= comments[i].website %>" class="action"><%= comments[i].email %></a>
               <span class="commTime"><%= comments[i].time.minute %></span>
             </div> 
             <div class="commCont">
               <p id="<%=i%>"><%= comments[i].content %></p> 
             </div>            
             <div class="commAction">
               <span id="commentAgree_<%=i%>" 
               data-commentid="<%=i%>"
               data-questitle="<%=quesTitle %>" 
               data-name="<%= email %>"
               data-day="<%= day %>"
               class="action">
               赞同 <%=comments[i].agreeNum%>
               </span>
               <span id="commentDisagree_<%=i%>"
               data-commentid="<%=i%>"
               data-questitle="<%=quesTitle %>" 
               data-name="<%= email %>"
               data-day="<%= day %>"
               class="action">
               反对 <%=comments[i].disagreeNum%>
               </span>
               <span class="space"></span>
               <span id="reply_<%=i%>"
                  data-questitle="<%=quesTitle %>" 
                  data-name="<%= email %>"
                  data-day="<%= day %>"
                  data-commentid="<%=i%>"
                  data-fromName="<%= comments[i].email %>"
                  class="action"><%=comments[i].reply.length%>条回复
               </span>
             </div>
          </div>
          <div class="comment_reply">
            <ul class="reply_list" id="reply_list"></ul>
            <div class="pub_reply">
              <!-- <div class="reply_head"></div> -->
              <div class="reply_main">
                <div class="commentReplyFromNamePic">
                   <a href="#">
                     <img src="images/9.png">
                   </a>                   
                </div>
                <div class="commentReplyFromName action">
                  <a class="reply_name" href="#"><%=user.email%></a>
                </div>       
                <div class="reply_content">
                  <textarea cols="75" rows="2" id="comment_reply_<%=i%>" placeholder="写下你的回复~"></textarea>
                  <button id="comment_reply_btn_<%=i%>" 
                  data-questitle="<%=quesTitle %>" 
                  data-name="<%= email %>"
                  data-day="<%= day %>"
                  data-commentreplyfromname="<%=user.email%>"
                  data-commentid="<%=i%>"
                  >回复</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% } %>
    </div>
      <br />
      <div class="answer">
        <span class="prepage"><a title="首页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= 1 %>">首页</a></span>

        <% if ((page-1)>=1) { %>
        <span class="prepage"><a title="上一页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page-1 %>">上一页</a></span>
        <% }else{}%>

        <% if ((page-3)==1) { %> 
          <span class="prepage"><a title="上两页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=1">1</a></span>
        <% }else if ((page-3)>1){%>
          <span class="prepage"><a title="上两页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=1">1</a></span>
          <span class="prepage"><a title="省略">...</a></span>
        <%}%>

        <% if ((page-2)>=1) { %> 
        <span class="prepage"><a title="上两页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page-2 %>"><%= page-2 %></a></span>
        <% }else{}%>

        <% if ((page-1)>=1) { %> 
        <span class="prepage"><a title="上一页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page-1 %>"><%= page-1 %></a></span>
        <% }else{}%>

          <span class="currentpage"><a title="当前页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page %>" style="color: #fff;"><%= page %></a></span>

        <% if ((page+1)<=LastPage) { %> 
        <span class="nextpage"><a title="下一页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page+1 %>"><%= page+1 %></a></span>
        <% }else{}%>

        <% if ((page+2)<=LastPage) { %> 
        <span class="nextpage"><a title="下两页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page+2 %>"><%= page+2 %></a></span>
        <% }else{}%>
        
        <% if ((page+3)== LastPage) { %> 
          <span class="nextpage"><a title="下三页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%=LastPage%>"><%=LastPage%></a></span>
        <% }else if((page+3)< LastPage) {%>
         <span class="nextpage"><a title="省略">...</a></span>
         <span class="nextpage"><a title="末页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%=LastPage%>"><%=LastPage%></a></span>
        <% }%>

        <% if ((page+1)<=LastPage) { %>
          <span class="nextpage"><a title="下一页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= page+1 %>">下一页</a></span>
        <% }else{}%>

         <span class="nextpage"><a title="末页" href="/questionDetail?email=<%= email %>&day=<%= day %>&quesTitle=<%= quesTitle %>&p=<%= LastPage %>">末页</a></span>
      </div>
</div>
<div class="notice">
    <h1>提问注意事项</h1>
    <dl>
      <dd>1、大家每天可以免费提出两个问题，从第三个问题起，每个问题扣除2点积分，请知晓哦；</dd>
      <dd>2、您是来解决问题？请先搜索是否已经有同类问题吧。这样您就省心少打字。</dd>
      <dd>3、没找到是么？就在发问题时精确描述你的问题，不要写与问题无关的内容哟；</dd>
      <dd>4、慕课讨论更热衷于解达您想要的答案。能引起思考和讨论的知识性问题；</dd>
      <dt>问答禁止这些提问</dt>
      <dd>1、禁止发布求职、交易、推广、广告类与问答无关信息将一律清理。</dd>
      <dd>2、尽可能详细描述您的问题，如标题与内容不符，或与问答无关的信息将被删除扣分。</dd>
      <dd>3、问答刷屏用户一律冻结帐号</dd>
    </dl>
</div>
</div>
<script type="text/javascript" src="/dist/js/jquery.min.js"></script>
<script type="text/javascript" src="/dist/js/questionDetail.min.js"></script>
<%- include ../footer %>
<%- include ../end %>
