<%- include ../header %>
	<link rel="stylesheet" type="text/css" href="src/style/index.css">
	<script type="text/javascript" src="src/script/recruit.js"></script>
<%- include ../nav %>
		<div>
		   <div class="content">
			   <div class="recruitInfo">
			        <div class="infoList">
	 					<label>公司名称：</label><%= jobs.companyName %><br>
					    <label>公司地点：</label><%= jobs.companyLocation %><br>
					    <label>工作地点：</label><%= jobs.workLocation %><br>
					    <label>招聘类型：</label><%= jobs.jobType %><br>
					    <label>招聘人数：</label><%= jobs.jobNum %><br>		    
					    <label>工作经验：</label><%= jobs.workTime %><br>
					    <label>发布时间：</label><%= jobs.jobTime %><br>
				    </div>
				    <div class="jobReq">
				    &nbsp;职位要求：<br>
				    </div>
				    <a href="#" class="more">点击查看详细信息</a>			    
			   </div>
	        </div>
		</div>
<%- include ../footer %>